


/* Estilo del Carrito de Compras */
#cart {
  position: fixed;
  top: 0;
  right: -400px; /* Inicialmente oculto */
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  transition: right 0.3s;
}


/* Muestra el Carrito de Compras */
#cart.show {
  right: 0;
}

/* Estilo del Titulo del carrito de Compras */
#cart h2 {
  text-align: center;
  margin: 20px 0;
}

/* Elimina el estilo por defecto de los tags de listas*/
#cart-items {
  list-style: none;
  padding: 0;
}

/* Productos de Carrito de Compras */

/* Estilo para los productos del carrito de compras */
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

/* Estilo de la información del carrito de compras 
   Información de nombre y precio del producto
*/
.cart-item-info{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items: center;
  width: 50%;
}

/*
  Estilo de la imagen del producto
*/
.cart-item-info img {
  width: 50px;
  height: 50px;
}

/*
  Estilo de la información de cantidad del producto a adquirir
*/
.cart-item-quantity {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: 30%;
}


/*
  Esto de acá es para quitarle los botones de incremento y decremento al input de cantidad
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*
  Estilo del botón para cambiar la cantidad del producto
*/
.cart-item-quantity button {
  border: none;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  font-size: 1.5rem;
}


/*
  Estilo del input de cantidad del producto
*/
.cart-item-quantity input {
  width: 40px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/*
  Estilo del lugar dónde está el botón de eliminar el producto del carrito de compras
*/
.cart-item-remove {
  width: 20%;
  text-align: center;
}


/*
  Estilo del botón para eliminar el producto del carrito de compras
*/
.cart-item-remove button {
  border: none;
  background-color: transparent;
  color: #ff0000;
  cursor: pointer;
  font-size: 1.5rem;
}




/*
  Para que el último elemento de la lista no tenga borde inferior
*/
#cart-items li:last-child {
  border-bottom: none;
}


/*
  Estilo los botones de Checkout y Limpiar Carrito
*/
#clear-cart,
#checkout {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
